*{
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 50%;
    border: 1px solid;
    margin: 20px 0px;
    background-color: lightblue;
    text-align: center;
}

img {
    width: 100%;
    display: block;
}